body{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.container-box{
     width: 800px;
     border: 2px solid black;
     background-color: #fff;
     border-radius: 5px;
     margin-top: 36px;
     margin-left: 150px;
}
